* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;
    transition: all 150ms ease-in-out;
}

:root {
    --color-primary-cerise-950: rgba(255, 230, 242, 1);
    --color-primary-cerise-850: rgba(245, 183, 214, 1);
    --color-primary-cerise-650: rgba(238, 135, 186, 1);
    --color-primary-cerise-500: rgba(227, 43, 135, 1);
    --color-primary-cerise-350: rgba(186, 23, 105, 1);
    --color-primary-cerise-150: rgba(79, 3, 41, 1);
    --color-primary-cerise-50: rgba(30, 1, 15, 1);
    --color-primary-cerise-50-a: rgba(203, 32, 117, 0.500);
    --color-primary-cerise-20-a: rgba(203, 32, 117, 0.200);
    --color-primary-cerise-10-a: rgba(203, 32, 117, 0.100);
    --color-primary-cerise-5-a: rgba(203, 32, 117, 0.050);
    --color-primary-gray-700: rgba(174, 180, 183, 1);
    --color-primary-gray-650: rgba(160, 167, 171, 1);
    --color-naturals-white: rgba(255, 255, 255, 1);
    --color-naturals-white-90-a: rgba(255, 255, 255, 0.900);
    --color-naturals-white-75-a: rgba(255, 255, 255, 0.750);
    --color-naturals-white-50-a: rgba(255, 255, 255, 0.500);
    --color-naturals-white-20-a: rgba(255, 255, 255, 0.200);
    --color-naturals-white-10-a: rgba(255, 255, 255, 0.100);
    --color-naturals-bg-light: rgba(253, 252, 252, 1);
    --color-naturals-gray-980: rgba(249, 250, 251, 1);
    --color-naturals-gray-950: rgba(240, 242, 244, 1);
    --color-naturals-gray-900: rgba(228, 230, 231, 1);
    --color-naturals-gray-850: rgba(214, 217, 219, 1);
    --color-naturals-gray-800: rgba(201, 205, 207, 1);
    --color-naturals-gray-750: rgba(188, 191, 194, 1);
    --color-naturals-gray-700: rgba(174, 180, 183, 1);
    --color-naturals-gray-650: rgba(160, 166, 171, 1);
    --color-naturals-gray-600: rgba(148, 155, 158, 1);
    --color-naturals-gray-550: rgba(133, 141, 147, 1);
    --color-naturals-gray-500: rgba(121, 128, 134, 1);
    --color-naturals-gray-450: rgba(108, 115, 122, 1);
    --color-naturals-gray-400: rgba(96, 103, 108, 1);
    --color-naturals-gray-350: rgba(85, 89, 94, 1);
    --color-naturals-gray-300: rgba(72, 77, 81, 1);
    --color-naturals-gray-250: rgba(60, 64, 68, 1);
    --color-naturals-gray-200: rgba(48, 51, 54, 1);
    --color-naturals-gray-150: rgba(36, 38, 41, 1);
    --color-naturals-gray-100: rgba(25, 26, 26, 1);
    --color-naturals-gray-50-a: rgba(127, 138, 148, 0.500);
    --color-naturals-gray-20-a: rgba(127, 138, 148, 0.200);
    --color-naturals-gray-10-a: rgba(127, 135, 144, 0.100);
    --color-naturals-black: rgba(15, 15, 15, 1);
    --color-naturals-black-75-a: rgba(0, 0, 0, 0.750);
    --color-naturals-black-50-a: rgba(0, 0, 0, 0.500);
    --color-naturals-black-20-a: rgba(0, 0, 0, 0.200);
    --color-naturals-black-10-a: rgba(0, 0, 0, 0.100);
    --color-success-green-950: rgba(214, 255, 235, 1);
    --color-success-green-850: rgba(156, 226, 191, 1);
    --color-success-green-650: rgba(71, 225, 148, 1);
    --color-success-green-500: rgba(33, 166, 99, 1);
    --color-success-green-350: rgba(6, 111, 59, 1);
    --color-success-green-150: rgba(2, 64, 33, 1);
    --color-success-green-50: rgba(11, 25, 18, 1);
    --color-success-green-50-a: rgba(32, 203, 117, 0.500);
    --color-success-green-20-a: rgba(27, 161, 94, 0.200);
    --color-success-green-10-a: rgba(19, 190, 105, 0.110);
    --color-success-green-5-a: rgba(32, 203, 117, 0.050);
    --color-attention-yellow-950: rgba(255, 248, 214, 1);
    --color-attention-yellow-850: rgba(255, 232, 163, 1);
    --color-attention-yellow-650: rgba(255, 219, 112, 1);
    --color-attention-yellow-500: rgba(215, 162, 4, 1);
    --color-attention-yellow-350: rgba(167, 131, 22, 1);
    --color-attention-yellow-150: rgba(79, 60, 3, 1);
    --color-attention-yellow-50: rgba(30, 22, 1, 1);
    --color-attention-yellow-50-a: rgba(203, 160, 32, 0.500);
    --color-attention-yellow-20-a: rgba(203, 160, 32, 0.200);
    --color-attention-yellow-10-a: rgba(203, 160, 32, 0.100);
    --color-attention-yellow-5-a: rgba(203, 160, 32, 0.050);
    --color-danger-red-950: rgba(255, 216, 214, 1);
    --color-danger-red-850: rgba(250, 141, 137, 1);
    --color-danger-red-650: rgba(225, 76, 71, 1);
    --color-danger-red-500: rgba(203, 37, 32, 1);
    --color-danger-red-350: rgba(150, 13, 8, 1);
    --color-danger-red-150: rgba(79, 5, 3, 1);
    --color-danger-red-50: rgba(30, 2, 1, 1);
    --color-danger-red-50-a: rgba(203, 37, 32, 0.500);
    --color-danger-red-20-a: rgba(212, 101, 97, 0.200);
    --color-danger-red-10-a: rgba(203, 37, 32, 0.090);
    --color-danger-red-5-a: rgba(203, 37, 32, 0.050);
    --color-informational-blue-950: rgba(241, 247, 254, 1);
    --color-informational-blue-850: rgba(147, 194, 240, 1);
    --color-informational-blue-650: rgba(71, 148, 225, 1);
    --color-informational-blue-500: rgba(24, 122, 220, 1);
    --color-informational-blue-350: rgba(8, 79, 150, 1);
    --color-informational-blue-150: rgba(3, 41, 79, 1);
    --color-informational-blue-50: rgba(1, 15, 30, 1);
    --color-informational-blue-50-a: rgba(32, 117, 203, 0.500);
    --color-informational-blue-20-a: rgba(32, 117, 203, 0.200);
    --color-informational-blue-10-a: rgba(32, 117, 203, 0.100);
    --color-informational-blue-5-a: rgba(32, 117, 203, 0.050);
    --color-accents-green: rgba(45, 169, 132, 1);
    --color-accents-green-10-a: rgba(45, 169, 132, 0.100);
    --color-accents-orange: rgba(169, 66, 45, 1);
    --color-accents-orange-10-a: rgba(169, 66, 45, 0.100);
    --color-accents-purple: rgba(78, 45, 169, 1);
    --color-accents-purple-10-a: rgba(78, 45, 169, 0.100);

    /* Effect styles */
    --box--shadow--sm: 0px 6px 12px rgba(151, 151, 151, 0.06);
    --box--shadow--default: 0px 4px 40px rgba(184, 184, 184, 0.1);
    --box--shadow--md: 0px 10px 40px rgba(102, 102, 102, 0.06);
    --drop--shadow--sm: 0px 2px 2px rgba(0, 0, 0, 0.05);
    --drop--shadow--default: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 1px 2px rgba(0, 0, 0, 0.1);
    --drop--shadow--md: 0px 2px 2px rgba(0, 0, 0, 0.06), 0px 4px 3px rgba(0, 0, 0, 0.07);
    --drop--shadow--lg: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 10px 8px rgba(0, 0, 0, 0.04);
    --drop--shadow--xl: 0px 8px 5px rgba(0, 0, 0, 0.08), 0px 20px 13px rgba(0, 0, 0, 0.03);
    --drop--shadow--2xl: 0px 25px 25px rgba(0, 0, 0, 0.15);
    --focus--ring---cerise: 0px 0px 0px 3px rgba(231, 18, 89, 0.20);
    --focus--ring---red: 0px 0px 0px rgba(203, 32, 60, 0.2);
    --focus--ring---green: 0px 0px 0px rgba(22, 182, 129, 0.15);
    --focus--ring---gray: 0px 0px 0px rgba(65, 65, 65, 0.15);
    --focus--ring--blue: 0px 0px 0px rgba(24, 90, 220, 0.15);
    --layer--blur--sm-shadows: ;
    --layer--blur--sm-blur: blur(4px);
    --layer--blur--default-shadows: ;
    --layer--blur--default-blur: blur(8px);
    --layer--blur--md-shadows: ;
    --layer--blur--md-blur: blur(12px);
    --layer--blur--lg-shadows: ;
    --layer--blur--lg-blur: blur(16px);
    --layer--blur--xl-shadows: ;
    --layer--blur--xl-blur: blur(24px);
    --layer--blur--2xl-shadows: ;
    --layer--blur--2xl-blur: blur(40px);
    --layer--blur--3xl-shadows: ;
    --layer--blur--3xl-blur: blur(64px);
    --background--blur----sm: ;
    --background--blur----default: ;
    --background--blur----md: ;
    --background--blur----lg: ;
    --background--blur----xl: ;
    --background--blur----2xl: ;
    --background--blur----3xl: ;
    --button--glow---primary: 3px 3px 20px rgba(206, 129, 20, 0.5);
    --button--glow---danger: 3px 3px 20px rgba(203, 32, 32, 0.5);
    --button--glow---success: 3px 3px 20px rgba(22, 182, 89, 0.5);
}



.background-cerise-950 {
    background-color: var(--color-primary-cerise-950);
}

.background-cerise-850 {
    background-color: var(--color-primary-cerise-850);
}

.background-cerise-650 {
    background-color: var(--color-primary-cerise-650);
}

.background-cerise-500 {
    background-color: var(--color-primary-cerise-500);
}

.background-cerise-350 {
    background-color: var(--color-primary-cerise-350);
}

.background-cerise-150 {
    background-color: var(--color-primary-cerise-150);
}

.background-cerise-50 {
    background-color: var(--color-primary-cerise-50);
}

.background-cerise-50-a {
    background-color: var(--color-primary-cerise-50-a);
}

.background-cerise-20-a {
    background-color: var(--color-primary-cerise-20-a);
}

.background-cerise-10-a {
    background-color: var(--color-primary-cerise-10-a);
}

.background-cerise-5-a {
    background-color: var(--color-primary-cerise-5-a);
}

.background-gray-700 {
    background-color: var(--color-primary-gray-700);
}

.background-gray-650 {
    background-color: var(--color-primary-gray-650);
}

.background-naturals-white {
    background-color: var(--color-naturals-white);
}

.background-naturals-white-90-a {
    background-color: var(--color-naturals-white-90-a);
}

.background-naturals-white-75-a {
    background-color: var(--color-naturals-white-75-a);
}

.background-naturals-white-50-a {
    background-color: var(--color-naturals-white-50-a);
}

.background-naturals-white-20-a {
    background-color: var(--color-naturals-white-20-a);
}

.background-naturals-white-10-a {
    background-color: var(--color-naturals-white-10-a);
}

.background-naturals-bg-light {
    background-color: var(--color-naturals-bg-light);
}

.background-naturals-gray-980 {
    background-color: var(--color-naturals-gray-980);
}

.background-naturals-gray-950 {
    background-color: var(--color-naturals-gray-950);
}

.background-naturals-gray-900 {
    background-color: var(--color-naturals-gray-900);
}

.background-naturals-gray-850 {
    background-color: var(--color-naturals-gray-850);
}

.background-naturals-gray-800 {
    background-color: var(--color-naturals-gray-800);
}

.background-naturals-gray-750 {
    background-color: var(--color-naturals-gray-750);
}

.background-naturals-gray-700 {
    background-color: var(--color-naturals-gray-700);
}

.background-naturals-gray-650 {
    background-color: var(--color-naturals-gray-650);
}

.background-naturals-gray-600 {
    background-color: var(--color-naturals-gray-600);
}

.background-naturals-gray-550 {
    background-color: var(--color-naturals-gray-550);
}

.background-naturals-gray-500 {
    background-color: var(--color-naturals-gray-500);
}

.background-naturals-gray-450 {
    background-color: var(--color-naturals-gray-450);
}

.background-naturals-gray-400 {
    background-color: var(--color-naturals-gray-400);
}

.background-naturals-gray-350 {
    background-color: var(--color-naturals-gray-350);
}

.background-naturals-gray-300 {
    background-color: var(--color-naturals-gray-300);
}

.background-naturals-gray-250 {
    background-color: var(--color-naturals-gray-250);
}

.background-naturals-gray-200 {
    background-color: var(--color-naturals-gray-200);
}

.background-naturals-gray-150 {
    background-color: var(--color-naturals-gray-150);
}

.background-naturals-gray-100 {
    background-color: var(--color-naturals-gray-100);
}

.background-naturals-gray-50-a {
    background-color: var(--color-naturals-gray-50-a);
}

.background-naturals-gray-20-a {
    background-color: var(--color-naturals-gray-20-a);
}

.background-naturals-gray-10-a {
    background-color: var(--color-naturals-gray-10-a);
}

.background-naturals-black {
    background-color: var(--color-naturals-black);
}

.background-naturals-black-75-a {
    background-color: var(--color-naturals-black-75-a);
}

.background-naturals-black-50-a {
    background-color: var(--color-naturals-black-50-a);
}

.background-naturals-black-20-a {
    background-color: var(--color-naturals-black-20-a);
}

.background-naturals-black-10-a {
    background-color: var(--color-naturals-black-10-a);
}

.background-success-green-950 {
    background-color: var(--color-success-green-950);
}

.background-success-green-850 {
    background-color: var(--color-success-green-850);
}

.background-success-green-650 {
    background-color: var(--color-success-green-650);
}

.background-success-green-500 {
    background-color: var(--color-success-green-500);
}

.background-success-green-350 {
    background-color: var(--color-success-green-350);
}

.background-success-green-150 {
    background-color: var(--color-success-green-150);
}

.background-success-green-50 {
    background-color: var(--color-success-green-50);
}

.background-success-green-50-a {
    background-color: var(--color-success-green-50-a);
}

.background-success-green-20-a {
    background-color: var(--color-success-green-20-a);
}

.background-success-green-10-a {
    background-color: var(--color-success-green-10-a);
}

.background-success-green-5-a {
    background-color: var(--color-success-green-5-a);
}

.background-attention-yellow-950 {
    background-color: var(--color-attention-yellow-950);
}

.background-attention-yellow-850 {
    background-color: var(--color-attention-yellow-850);
}

.background-attention-yellow-650 {
    background-color: var(--color-attention-yellow-650);
}

.background-attention-yellow-500 {
    background-color: var(--color-attention-yellow-500);
}

.background-attention-yellow-350 {
    background-color: var(--color-attention-yellow-350);
}

.background-attention-yellow-150 {
    background-color: var(--color-attention-yellow-150);
}

.background-attention-yellow-50 {
    background-color: var(--color-attention-yellow-50);
}

.background-attention-yellow-50-a {
    background-color: var(--color-attention-yellow-50-a);
}

.background-attention-yellow-20-a {
    background-color: var(--color-attention-yellow-20-a);
}

.background-attention-yellow-10-a {
    background-color: var(--color-attention-yellow-10-a);
}

.background-attention-yellow-5-a {
    background-color: var(--color-attention-yellow-5-a);
}

.background-danger-red-950 {
    background-color: var(--color-danger-red-950);
}

.background-danger-red-850 {
    background-color: var(--color-danger-red-850);
}

.background-danger-red-650 {
    background-color: var(--color-danger-red-650);
}

.background-danger-red-500 {
    background-color: var(--color-danger-red-500);
}

.background-danger-red-350 {
    background-color: var(--color-danger-red-350);
}

.background-danger-red-150 {
    background-color: var(--color-danger-red-150);
}

.background-danger-red-50 {
    background-color: var(--color-danger-red-50);
}

.background-danger-red-50-a {
    background-color: var(--color-danger-red-50-a);
}

.background-danger-red-20-a {
    background-color: var(--color-danger-red-20-a);
}

.background-danger-red-10-a {
    background-color: var(--color-danger-red-10-a);
}

.background-danger-red-5-a {
    background-color: var(--color-danger-red-5-a);
}

.background-informational-blue-950 {
    background-color: var(--color-informational-blue-950);
}

.background-informational-blue-850 {
    background-color: var(--color-informational-blue-850);
}

.background-informational-blue-650 {
    background-color: var(--color-informational-blue-650);
}

.background-informational-blue-500 {
    background-color: var(--color-informational-blue-500);
}

.background-informational-blue-350 {
    background-color: var(--color-informational-blue-350);
}

.background-informational-blue-150 {
    background-color: var(--color-informational-blue-150);
}

.background-informational-blue-50 {
    background-color: var(--color-informational-blue-50);
}

.background-informational-blue-50-a {
    background-color: var(--color-informational-blue-50-a);
}

.background-informational-blue-20-a {
    background-color: var(--color-informational-blue-20-a);
}

.background-informational-blue-10-a {
    background-color: var(--color-informational-blue-10-a);
}

.background-informational-blue-5-a {
    background-color: var(--color-informational-blue-5-a);
}

.background-accents-green {
    background-color: var(--color-accents-green);
}

.background-accents-green-10-a {
    background-color: var(--color-accents-green-10-a);
}

.background-accents-orange {
    background-color: var(--color-accents-orange);
}

.background-accents-orange-10-a {
    background-color: var(--color-accents-orange-10-a);
}

.background-accents-purple {
    background-color: var(--color-accents-purple);
}




.text-cerise-950 {
    color: var(--color-primary-cerise-950);
}

.text-cerise-850 {
    color: var(--color-primary-cerise-850);
}

.text-cerise-650 {
    color: var(--color-primary-cerise-650);
}

.text-cerise-500 {
    color: var(--color-primary-cerise-500);
}

.text-cerise-350 {
    color: var(--color-primary-cerise-350);
}

.text-cerise-150 {
    color: var(--color-primary-cerise-150);
}

.text-cerise-50 {
    color: var(--color-primary-cerise-50);
}

.text-cerise-50-a {
    color: var(--color-primary-cerise-50-a);
}

.text-cerise-20-a {
    color: var(--color-primary-cerise-20-a);
}

.text-cerise-10-a {
    color: var(--color-primary-cerise-10-a);
}

.text-cerise-5-a {
    color: var(--color-primary-cerise-5-a);
}

.text-gray-700 {
    color: var(--color-primary-gray-700);
}

.text-gray-650 {
    color: var(--color-primary-gray-650);
}

.text-naturals-white {
    color: var(--color-naturals-white);
}

.text-naturals-white-90-a {
    color: var(--color-naturals-white-90-a);
}

.text-naturals-white-75-a {
    color: var(--color-naturals-white-75-a);
}

.text-naturals-white-50-a {
    color: var(--color-naturals-white-50-a);
}

.text-naturals-white-20-a {
    color: var(--color-naturals-white-20-a);
}

.text-naturals-white-10-a {
    color: var(--color-naturals-white-10-a);
}

.text-naturals-bg-light {
    color: var(--color-naturals-bg-light);
}

.text-naturals-gray-980 {
    color: var(--color-naturals-gray-980);
}

.text-naturals-gray-950 {
    color: var(--color-naturals-gray-950);
}

.text-naturals-gray-900 {
    color: var(--color-naturals-gray-900);
}

.text-naturals-gray-850 {
    color: var(--color-naturals-gray-850);
}

.text-naturals-gray-800 {
    color: var(--color-naturals-gray-800);
}

.text-naturals-gray-750 {
    color: var(--color-naturals-gray-750);
}

.text-naturals-gray-700 {
    color: var(--color-naturals-gray-700);
}

.text-naturals-gray-650 {
    color: var(--color-naturals-gray-650);
}

.text-naturals-gray-600 {
    color: var(--color-naturals-gray-600);
}

.text-naturals-gray-550 {
    color: var(--color-naturals-gray-550);
}

.text-naturals-gray-500 {
    color: var(--color-naturals-gray-500);
}

.text-naturals-gray-450 {
    color: var(--color-naturals-gray-450);
}

.text-naturals-gray-400 {
    color: var(--color-naturals-gray-400);
}

.text-naturals-gray-350 {
    color: var(--color-naturals-gray-350);
}

.text-naturals-gray-300 {
    color: var(--color-naturals-gray-300);
}

.text-naturals-gray-250 {
    color: var(--color-naturals-gray-250);
}

.text-naturals-gray-200 {
    color: var(--color-naturals-gray-200);
}

.text-naturals-gray-150 {
    color: var(--color-naturals-gray-150);
}

.text-naturals-gray-100 {
    color: var(--color-naturals-gray-100);
}

.text-naturals-gray-50-a {
    color: var(--color-naturals-gray-50-a);
}

.text-naturals-gray-20-a {
    color: var(--color-naturals-gray-20-a);
}

.text-naturals-gray-10-a {
    color: var(--color-naturals-gray-10-a);
}

.text-naturals-black {
    color: var(--color-naturals-black);
}

.text-naturals-black-75-a {
    color: var(--color-naturals-black-75-a);
}

.text-naturals-black-50-a {
    color: var(--color-naturals-black-50-a);
}

.text-naturals-black-20-a {
    color: var(--color-naturals-black-20-a);
}

.text-naturals-black-10-a {
    color: var(--color-naturals-black-10-a);
}

.text-success-green-950 {
    color: var(--color-success-green-950);
}

.text-success-green-850 {
    color: var(--color-success-green-850);
}

.text-success-green-650 {
    color: var(--color-success-green-650);
}

.text-success-green-500 {
    color: var(--color-success-green-500);
}

.text-success-green-350 {
    color: var(--color-success-green-350);
}

.text-success-green-150 {
    color: var(--color-success-green-150);
}

.text-success-green-50 {
    color: var(--color-success-green-50);
}

.text-success-green-50-a {
    color: var(--color-success-green-50-a);
}

.text-success-green-20-a {
    color: var(--color-success-green-20-a);
}

.text-success-green-10-a {
    color: var(--color-success-green-10-a);
}

.text-success-green-5-a {
    color: var(--color-success-green-5-a);
}

.text-attention-yellow-950 {
    color: var(--color-attention-yellow-950);
}

.text-attention-yellow-850 {
    color: var(--color-attention-yellow-850);
}

.text-attention-yellow-650 {
    color: var(--color-attention-yellow-650);
}

.text-attention-yellow-500 {
    color: var(--color-attention-yellow-500);
}

.text-attention-yellow-350 {
    color: var(--color-attention-yellow-350);
}

.text-attention-yellow-150 {
    color: var(--color-attention-yellow-150);
}

.text-attention-yellow-50 {
    color: var(--color-attention-yellow-50);
}

.text-attention-yellow-50-a {
    color: var(--color-attention-yellow-50-a);
}

.text-attention-yellow-20-a {
    color: var(--color-attention-yellow-20-a);
}

.text-attention-yellow-10-a {
    color: var(--color-attention-yellow-10-a);
}

.text-attention-yellow-5-a {
    color: var(--color-attention-yellow-5-a);
}

.text-danger-red-950 {
    color: var(--color-danger-red-950);
}

.text-danger-red-850 {
    color: var(--color-danger-red-850);
}

.text-danger-red-650 {
    color: var(--color-danger-red-650);
}

.text-danger-red-500 {
    color: var(--color-danger-red-500);
}

.text-danger-red-350 {
    color: var(--color-danger-red-350);
}

.text-danger-red-150 {
    color: var(--color-danger-red-150);
}

.text-danger-red-50 {
    color: var(--color-danger-red-50);
}

.text-danger-red-50-a {
    color: var(--color-danger-red-50-a);
}

.text-danger-red-20-a {
    color: var(--color-danger-red-20-a);
}

.text-danger-red-10-a {
    color: var(--color-danger-red-10-a);
}

.text-danger-red-5-a {
    color: var(--color-danger-red-5-a);
}

.text-informational-blue-950 {
    color: var(--color-informational-blue-950);
}

.text-informational-blue-850 {
    color: var(--color-informational-blue-850);
}

.text-informational-blue-650 {
    color: var(--color-informational-blue-650);
}

.text-informational-blue-500 {
    color: var(--color-informational-blue-500);
}

.text-informational-blue-350 {
    color: var(--color-informational-blue-350);
}

.text-informational-blue-150 {
    color: var(--color-informational-blue-150);
}

.text-informational-blue-50 {
    color: var(--color-informational-blue-50);
}

.text-informational-blue-50-a {
    color: var(--color-informational-blue-50-a);
}

.text-informational-blue-20-a {
    color: var(--color-informational-blue-20-a);
}

.text-informational-blue-10-a {
    color: var(--color-informational-blue-10-a);
}

.text-informational-blue-5-a {
    color: var(--color-informational-blue-5-a);
}

.text-accents-green {
    color: var(--color-accents-green);
}

.text-accents-green-10-a {
    color: var(--color-accents-green-10-a);
}

.text-accents-orange {
    color: var(--color-accents-orange);
}

.text-accents-orange-10-a {
    color: var(--color-accents-orange-10-a);
}

.text-accents-purple {
    color: var(--color-accents-purple);
}


.text-style-heading-h-1 {
    font-size: 56px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 170%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-2 {
    font-size: 48px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 180%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-3 {
    font-size: 40px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-4 {
    font-size: 32px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 130%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-5 {
    font-size: 24px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-1-mobile {
    font-size: 36px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-2-mobile {
    font-size: 36px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-3-mobile {
    font-size: 32px;
    font-family: Alexandria;
    font-weight: 800;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-4-mobile {
    font-size: 24px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    text-decoration: none;
    text-transform: none;
}

.text-style-heading-h-5-mobile {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-large-light {
    font-size: 22px;
    font-family: Alexandria;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-large-regular {
    font-size: 22px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-large-medium {
    font-size: 22px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-large-bold {
    font-size: 22px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-large-link {
    font-size: 22px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

.text-style-text-medium-light {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-medium-regular {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-medium-medium {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-medium-bold {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-medium-link {
    font-size: 20px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

.text-style-text-regular-light {
    font-size: 18px;
    font-family: Alexandria;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-regular-regular {
    font-size: 18px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-regular-medium {
    font-size: 18px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-regular-bold {
    font-size: 18px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-regular-link {
    font-size: 18px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

.text-style-text-small-light {
    font-size: 16px;
    font-family: Alexandria;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-small-regular {
    font-size: 16px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-small-medium,
.btn-lg {
    font-size: 16px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-small-bold {
    font-size: 16px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-small-link {
    font-size: 16px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

.text-style-text-tiny-light,
input {
    font-size: 14px !important;
    font-family: Alexandria !important;
    font-weight: 300 !important;
    font-style: normal !important;
    line-height: 150% !important;
    text-decoration: none !important;
    text-transform: none !important;
}

.text-style-text-tiny-regular {
    font-size: 14px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-tiny-medium,
.btn-md,
.btn-sm {
    font-size: 14px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-tiny-bold {
    font-size: 14px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-tiny-link {
    font-size: 14px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

.text-style-text-extra-tiny-light {
    font-size: 12px;
    font-family: Alexandria;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-extra-tiny-regular {
    font-size: 12px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-extra-tiny-medium {
    font-size: 12px;
    font-family: Alexandria;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-extra-tiny-bold {
    font-size: 12px;
    font-family: Alexandria;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
}

.text-style-text-extra-tiny-link {
    font-size: 12px;
    font-family: Alexandria;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    text-decoration: underline;
    text-transform: none;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar handle on hover */
}


.effect-style-box-shadow-sm {
    box-shadow: 0px 6px 12px rgba(151, 151, 151, 0.060);
}

.effect-style-box-shadow-default {
    box-shadow: 0px 4px 40px rgba(184, 184, 184, 0.100);
}

.effect-style-box-shadow-md {
    box-shadow: 0px 10px 40px 10px rgba(102, 102, 102, 0.060);
}

.effect-style-drop-shadow-sm {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.050);
}

.effect-style-drop-shadow-default {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.100), 0px 1px 1px rgba(0, 0, 0, 0.060);
}

.effect-style-drop-shadow-md {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.070), 0px 2px 2px rgba(0, 0, 0, 0.060);
}

.effect-style-drop-shadow-lg {
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.040), 0px 4px 3px rgba(0, 0, 0, 0.100);
}

.effect-style-drop-shadow-xl {
    box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.030), 0px 8px 5px rgba(0, 0, 0, 0.080);
}

.effect-style-drop-shadow-2-xl {
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.150);
}

.effect-style-focus-ring-cerise {
    box-shadow: 0px 0px 0px 3px rgba(231, 18, 89, 0.200);
}

.effect-style-focus-ring-red {
    box-shadow: 0px 0px 0px 3px rgba(203, 32, 60, 0.200);
}

.effect-style-focus-ring-green {
    box-shadow: 0px 0px 0px 3px rgba(22, 182, 129, 0.150);
}

.effect-style-focus-ring-gray {
    box-shadow: 0px 0px 0px 3px rgba(65, 65, 65, 0.150);
}

.effect-style-focus-ring-blue {
    box-shadow: 0px 0px 0px 3px rgba(24, 90, 220, 0.150);
}

.effect-style-layer-blur-sm {
    filter: blur(4px);
}

.effect-style-layer-blur-default {
    filter: blur(8px);
}

.effect-style-layer-blur-md {
    filter: blur(12px);
}

.effect-style-layer-blur-lg {
    filter: blur(16px);
}

.effect-style-layer-blur-xl {
    filter: blur(24px);
}

.effect-style-layer-blur-2-xl {
    filter: blur(40px);
}

.effect-style-layer-blur-3-xl {
    filter: blur(64px);
}

.effect-style-background-blur-sm {
    backdrop-filter: blur(4px);
}

.effect-style-background-blur-default {
    backdrop-filter: blur(8px);
}

.effect-style-background-blur-md {
    backdrop-filter: blur(12px);
}

.effect-style-background-blur-lg {
    backdrop-filter: blur(16px);
}

.effect-style-background-blur-xl {
    backdrop-filter: blur(24px);
}

.effect-style-background-blur-2-xl {
    backdrop-filter: blur(40px);
}

.effect-style-background-blur-3-xl {
    backdrop-filter: blur(64px);
}

.effect-style-button-glow-primary {
    box-shadow: 3px 3px 20px rgba(206, 129, 20, 0.500);
}

.effect-style-button-glow-danger {
    box-shadow: 3px 3px 20px rgba(203, 32, 32, 0.500);
}

.effect-style-button-glow-success {
    box-shadow: 3px 3px 20px rgba(22, 182, 89, 0.500);
}

input {
    padding: 16px !important;
    border-radius: 16px !important;
    border: 1px solid var(--color-naturals-gray-850) !important;
    background: var(--color-naturals-white) !important;
    outline: none !important;
}

input:hover {
    border-color: var(--color-naturals-gray-750) !important;
}

input:focus-visible,
input:focus {
    border-color: var(--color-primary-cerise-850) !important;
    box-shadow: var(--focus--ring---cerise) !important;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 8px);
    border-radius: var(--border-radius-xl, 20px);
    background: #F0E9FF;
    border: none;
}

.btn svg {
    width: 20px;
    height: 20px;
}

.btn:disabled {
    background: var(--color-naturals-gray-950);
    color: var(--color-naturals-gray-800)
}


.btn-sm {
    padding: var(--spacing-md, 12px) var(--spacing-xl, 20px);
}

.btn-md {
    padding: var(--spacing-lg, 16px) var(--spacing-xxl, 24px);
}

.btn-lg {
    padding: var(--spacing-xxl, 24px) var(--spacing-3xl, 32px);
}


.btn-primary-solid {
    background: var(--color-primary-cerise-500);
    color: var(--color-naturals-white);
}

.btn-primary-solid:hover {
    background: var(--color-primary-cerise-350);
}

.btn-primary-solid:focus {
    box-shadow: var(--focus--ring---cerise);
}